.the_skills_main {
    font-family: var(--font-family);
    color: var(--color-text);
}

.the_skills_title {
    padding-top: 1rem;
}

.the_skills_list1 {
    display: flex;
    justify-content: center;
}

.the_skills_list2 {
    display: flex;
    justify-content: center;
}