.the_skills_main {
    font-family: var(--font-family);
    color: var(--color-text);
    padding-top: 3rem;
}

.the_skills_title {
    padding-top: 1rem;
    border-bottom: 2px solid white;
    max-width: fit-content;
    line-height: 55px;
    margin-left: 1rem;
}

.the_skills_list1 {
    display: flex;
    justify-content: center;
}

.the_skills_list2 {
    display: flex;
    justify-content: center;
}
.the_skills_python, .the_skills_java, .the_skills_c, .the_skills_css, .the_skills_javascript, .the_skills_git, .the_skills_html, .the_skills_react, .the_skills_nodejs {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

@media screen and (max-width: 768px) {
    .the_skills_list img{
        max-width: 150px;
        max-height: 200px;
    }
    .the_skills_list h1{
        font-size: 25px;
    }
}

@media screen and (max-width: 430px) {
    .the_skills_list img{
        max-width: 100px;
        max-height: 160px;
    }
    .the_skills_list h1{
        font-size: 15px;
    }
}
@media screen and (max-width: 320px) {
    .the_skills_list img{
        max-width: 75px;
        max-height: 150px;
    }
    .the_skills_list h1{
        font-size: 14px;
    }
}