.the_project_item1 {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
}

.the_project_item1_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.the_project_item1:hover .the_project_item1_overlay {
  display: block;
  background: rgba(0, 0, 0, 0.568);
}

.the_project_item1 img {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0;
}

.the_project_item1_title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  z-index: 1;
  transition: top .5s ease;
}

.the_project_item1:hover .the_project_item1_title {
  top: 90px;
}

.the_project_item1_button {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}


.the_project_item1_button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  text-decoration:none;
  border: solid 2px white;
  z-index: 1;
}

.the_project_item1:hover .the_project_item1_button {
  opacity: 1;
}

@media screen and (max-width: 1450px) {
  .the_project_item1 {
    width: 450px;
    height: 280px;
  }
  .the_project_item1_overlay {
    width: 100%;
    height: 100%;
  }
  .the_project_item1 img {
    width: 450px;
    height: 280px;
  }
  
  .the_project_item1_title {
    position: absolute;
    width: 450px;
    top: 120px;
    font-size: 22px;
  }
  
  .the_project_item1:hover .the_project_item1_title {
    top: 80px;
  }
  
  .the_project_item1_button {
    position: absolute;
    width: 450px;
    top: 190px;
  }

  .the_project_item1_button a {
    width: 280px;
    padding: 10px 40px;
  }
}

@media screen and (max-width: 1024px) {
  .the_project_item1 {
    width: 330px;
    height: 200px;
  }
  .the_project_item1_overlay {
    width: 100%;
    height: 100%;
  }
  .the_project_item1 img {
    width: 330px;
    height: 200px;
  }
  
  .the_project_item1_title {
    position: absolute;
    width: 330px;
    top: 80px;
    font-size: 22px;
  }
  
  .the_project_item1:hover .the_project_item1_title {
    top: 40px;
  }
  
  .the_project_item1_button {
    position: absolute;
    width: 330px;
    top: 130px;
  }

  .the_project_item1_button a {
    width: 200px;
    padding: 10px 40px;
  }
}

@media screen and (max-width: 768px) {
  .the_project_item1 {
    width: 250px;
    height: 150px;
  }
  .the_project_item1_overlay {
    width: 100%;
    height: 100%;
  }
  .the_project_item1 img {
    width: 250px;
    height: 150px;
  }
  
  .the_project_item1_title {
    position: absolute;
    width: 250px;
    top: 60px;
    font-size: 22px;
  }
  
  .the_project_item1:hover .the_project_item1_title {
    top: 30px;
  }
  
  .the_project_item1_button {
    position: absolute;
    width: 250px;
    top: 110px;
  }

  .the_project_item1_button a {
    width: 200px;
    padding: 10px 40px;
  }
}

@media screen and (max-width: 430px) {
  .the_project_item1 {
    width: 350px;
    height: 180px;
  }
  .the_project_item1_overlay {
    width: 100%;
    height: 100%;
  }
  .the_project_item1 img {
    width: 350px;
    height: 180px;
  }
  
  .the_project_item1_title {
    position: absolute;
    width: 350px;
    top: 80px;
    font-size: 25px;
  }
  
  .the_project_item1:hover .the_project_item1_title {
    top: 50px;
  }
  
  .the_project_item1_button {
    position: absolute;
    width: 350px;
    top: 130px;
  }
  
  .the_project_item1_button a {
    width: 200px;
    padding: 10px 40px;
  }
}

@media screen and (max-width: 320px) {
  .the_project_item1 {
    width: 300px;
    height: 180px;
  }
  .the_project_item1_overlay {
    width: 100%;
    height: 100%;
  }
  .the_project_item1 img {
    width: 300px;
    height: 180px;
  }
  
  .the_project_item1_title {
    position: absolute;
    width: 300px;
    top: 80px;
    font-size: 25px;
  }
  
  .the_project_item1:hover .the_project_item1_title {
    top: 50px;
  }
  
  .the_project_item1_button {
    position: absolute;
    width: 300px;
    top: 130px;
  }
  
  .the_project_item1_button a {
    width: 200px;
    padding: 10px 40px;
  }
}