@-ms-viewport{ width: device-width; }
.the_main_education {
    font-family: var(--font-family);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.the_main_education_title {
    color:var(--color-title);
    padding-bottom: 1rem;
    padding-top: 2rem;
    border-bottom: 2px solid white;
    max-width: fit-content;
    line-height: 30px;
}

.the_main_education_p {
    font-size: 18px;
    max-width: 50%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    
    
}

.firstP{
    padding-bottom: 2rem;
}

.secondP {
    padding-bottom: 2rem;
}

.thirdP {
    padding-bottom: 2rem;
}

.fourthP {
    padding-bottom: 2rem;
}

.firstPa:link, .firstPa:visited, .turing:link, .turing:visited, .python:link, .python:visited, .java:link, .java:visited {
    color: #27dbdb;
    text-decoration: none;
}

.firstPa:hover, .turing:hover, .python:hover, .java:hover {
    color: red;
}

@media screen and (max-width: 320px) {
    .the_main_education_p {
        font-size: 14px;
        max-width: 100%;
        padding-bottom: 1rem
        
    }
}
@media screen and (max-width: 430px) {
    .the_main_education_p {
        font-size: 15px;
        max-width: 100%;
        padding-bottom: 1rem
    }
}

@media screen and (max-width: 1024px) {
    .the_main_education_p {
        font-size: 20px;
        padding-bottom: 1rem;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .the_main_education_p {
        font-size: 18px;
        padding-bottom: 1rem
    }
}
