
.the__navbar {
    /*position: sticky;
    top: 0;*/
    background: var(--color-footer);
    max-width:auto;
}

.the__navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: auto;
}
.the__navbar-links-stuff {
    display: flex;
    flex-direction: column;
    max-width: auto;
    flex-grow: 3;
}

.the__navbar_links-logo {
    padding-left: 59%;
    max-width: auto;
    padding-bottom: 0.5rem;
}

.the__navbar-links-resume button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #27dbdb;
    justify-content: flex-end;
    border-radius: 1rem;
}

.the__navbar-links-resume:hover button {
    background-color: red;
}

.the__navbar_links-name{
    flex: 1;
    font-size: 50px;
    flex-grow: 1;
    font-family: var(--font-family);
}

.the__navbar-links-resume {
    margin-left: 20rem;
}

.the__navbar_links-name:visited, .the__navbar_links-name {
    text-decoration: none;
    color:#000;
}

.the__navbar_containers {
    flex: 2;
    display: flex;
    flex-direction: row;   
    flex-grow:3;
    padding-left: 52%;
    
    font-family: var(--font-family);
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.the__navbar_containers p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    max-height: 30px;
}

.stuff, .stuff:visited {
    color:#000;
    text-decoration: none;
}

.stuff:hover {
    color: #27dbdb;
}

@media screen and (max-width: 325px) {
    .the__navbar_links-logo {
        padding-left: 0%;
    }
    .the__navbar_links-name{
        font-size: 2px;
    }
    .the__navbar_containers {
        flex-direction: column;   
        letter-spacing: 0.1em;
    }
    
    .the__navbar-links-resume button{
        padding: 12px 12px;
    }
    .the__navbar-links-resume {
        margin-left: -1rem;
    }
}
@media screen and (max-width: 376px) {
    .the__navbar-links-stuff {
        max-width: 80%;
    }
    .the__navbar_links-logo {
        margin-left: 10%;
    }
    .the__navbar_links-name{
        font-size: 2px;
    }
    
    .the__navbar-links-resume button{
        padding: 12px 12px;
    }
    .the__navbar-links-resume {
        margin-left: -1rem;
    }
}
@media screen and (max-width: 1024px) {
    .the__navbar_containers { 
        padding-left: 40%;
        margin: 1rem 1rem;
    }
}

@media screen and (max-width: 768px) {
    .the__navbar-links-resume { 
        margin-left: 15rem;
    }
    .the__navbar_links-logo {
        padding-left: 63%;
    }
    .the__navbar_links-name{
        font-size: 40px;
    }
    
}

@media screen and (max-width: 426px) {
    .the__navbar_links-logo {
        padding-left: 25%;
    }
    .the__navbar_containers {  
        padding-left: 0%;
    }
    .the__navbar_containers p {
        font-weight: 600;
        font-size: 15px;
    }
    
    .the__navbar-links-resume button{
        padding: 12px 12px;
    }
    .the__navbar-links-resume {
        margin-left: -1rem;
    }
}