.the_main_hobbies {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.the_main_hobbies_stuff {
    display: flex;
    flex-direction: row;
}
.the_main_hobbies_title {
    color: var(--color-title);
    text-decoration: underline;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-family: var(--font-family);
}

.the_main_hobbies_p {
    color: var(--color-text);
    font-family: var(--font-family);
    max-width: 50%;
    font-size: 18px;
    padding-left: 1rem;
}

.the_main_hobbies_p1 {
    padding-bottom: 2rem;
}

.the_main_hobbies_p2 {
    padding-bottom: 2rem;
}

.the_main_hobbies_p3 {
    padding-bottom: 2rem;
}

.the_main_hobbies_p4 {
    padding-bottom: 2rem;
}

.the_main_hobbies_p5 {
    padding-bottom: 4rem;
}

.the_main_hobbies_korean {
    margin-left: 14rem;
    margin-bottom: auto;
    border: 5px solid transparent;
    display: flex;
}

.the_main_hobbies_korean:hover {
    border: 5px solid #27dbdb;
    transition: 0.5s;
}

@media screen and (max-width: 320px) {
    .the_main_hobbies_stuff {
        flex-direction: column;
    }
    .the_main_hobbies_p {
        max-width: 100%;
        font-size: 14px;
        padding-left: 1rem;
    }
    .the_main_hobbies_korean {
        margin-left: 0rem;
        margin-bottom: auto;

    }
    .the_main_hobbies_korean img {
        max-width: 280px;
    }
    .the_main_hobbies {
        padding-top: 1rem;

    }
}
@media screen and (max-width: 430px) {

    .the_main_hobbies_p {
        font-size: 15px;
    }
    .the_main_hobbies_korean {
        padding-right: 5rem;
    }
    .the_main_hobbies_stuff{
        margin: 0 auto;
    }
    .the_main_hobbies_korean {
        border: none;
    }
    .the_main_hobbies_korean img {
        max-width: 310px;
    }
    .the_main_hobbies {
        padding-top: 1rem;
        
    }
}
@media screen and (max-width: 768px) {
    .the_main_hobbies_stuff {
        flex-direction: column;
    }
    .the_main_hobbies_p {
        max-width: 100%;
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .the_main_hobbies_p {
        font-size: 20px;
        min-width: 45%;
    }
    .the_main_hobbies_korean {
        margin-left: 4rem;
        margin-right: 15.2rem;
    }
    
}