.the_projects_main {
    color: var(--color-text);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
}

.the_projects_project {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}
@media screen and (max-width: 430px) {
    .the_projects_project {
        flex-direction: column;
        padding-left: 0.5rem;
    }
}

@media screen and (max-width: 320px) {
    .the_projects_project {
        flex-direction: column;
        padding-left: 0.5rem;
    }
}