.the_footer_main {
    display: flex;
    flex-direction: row;
    max-width: auto;
    justify-content: space-between;
}
.the_footer_main p {
    color: var(--color-text);
    align-items: baseline;
}

.the_footer_icons_stuff {
    color: white;
    font-size: 30px;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.the_footer_icons_stuff:link, .the_footer_icons_stuff:visited {
    color: white;
    text-decoration: none;
}